<!DOCTYPE html>

<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>

  <!-- Mobile NAV -->
  <!--
  <div class="title-bar show-for-small-only">
    <div class="title-bar-left">
    <ul class="vertical menu mstyle" data-accordion-menu>
        <li>
          <a href="#">Item 1</a>
          <ul class="menu vertical nested">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  -->

  <!-- DESKTOP NAV -->
  <!--
  <nav class="top-bar nav-desktop">
   <div class="wrap">

    <div class="top-bar-left">
      <h3 class="site-logo">PATHOS</h3>
    </div>

    <div class="top-bar-right"> -->
    <!--class="small-12 column">-->
    <!-- 
      <ul class="menu menu-desktop">
        <li><a href="#">One</a></li>  
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
  </div>

</nav>
-->
<!-- HERO SECTION-->

<section class="hero">
  <div class="wrap row small-up-1"><!--let section be full screen and content wrapped and centered-->
    <div class='large-12'>
     <img src="images/title.svg" class="float-center" onerror="this.onerror=null; this.src='title.svg'"> 
    </div>
  </div>
</section>




<!-- MAIN CONTENT -->
<section class="interest">
  <div class="wrap row small-up-1 medium-up-3 "><!-- number on row line means # per row-->

    <div class='column'>
      <img src="interest/design.svg" onerror="this.onerror=null; this.src='data.svg'"> 
      <br>
      <br>
      <p>We are a design studio that creates interactive experiences. From interactive installations to responsive objects in the palm of your hand, we use design and technology to innovate at all scales. We help you realize your design vision, from design to implementation, .</p>
    </div>

    <div class='column'>
      <img src="interest/data.svg"  onerror="this.onerror=null; this.src='data.svg'"> 
      <br>
      <br>
      <p>We help convey compelling narratives through data storytelling. Leveraging data to transform physical and digital environments, we create meaningful user engaement opportunities.</p>
    </div>

    <div class='column'>
      <img src="interest/research.svg" onerror="this.onerror=null; this.src='data.svg'"> 
      <br>
      <br>
      <p>Our practice is built on the pursuit of innovation through continuous research in design and computation, and their role in enriching human experience. Our ambition to create empathetic design seeks to blur the line between human, interface, and object.</p>
    </div>

  </div>

</section>




<!-- FOOTER SECTION -->
<footer>
  <div class="wrap row small-up-1 medium-up-3 ">
    <div class="column">
      <h4>Contact Info</h4>
      <hr>
     <!-- <a href="#"><span>Phone  </span>7777777</a>-->
      <a href="#"><span>Email  </span>bcuffy@path-os.com</a>
     <!-- <a href="#"><span>Address  </span> this and that</a>-->
    </div>
<!--
    <div class="column">
      <h4>Site Map</h4>
      <hr>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </div>

    <div class="column">
      <h4>Social Media</h4>
      <hr>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </div>
-->
  </div>
</footer>


<script src="javascripts/vendor/jquery.js"></script>
<script src="javascripts/vendor/what-input.js"></script>
<script src="javascripts/vendor/foundation.js"></script>
<script src="javascripts/app.js"></script>
</body>

</html>
