<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Pathos</title>
	<meta name="description" content="Pathos Website">
	<meta name="author" content="BrandonCuffy">

	<link rel="stylesheet" href="stylesheets/style.css">
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<script src="javascripts/parallax.min.js"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->


</head>

<body>

	<div id="second">

		<img src="images/title.svg" onerror="this.onerror=null; this.src='image.png'">


	</div>
	<div id="topics" >



		<br>
		<div style="margin-top: 7%">
			<div id="topicsDesc">
				<div>
					<img src="interest/data.svg" width="100%"  onerror="this.onerror=null; this.src='image.png'">      
				</div>
				<p>We use data to create compelling narratives for our clients. Mining the datasphere to communicate the most relavant data, is the goal of our team of designers, coders, and thinkers.</p>
			</div>


			<div id="topicsDesc">
				<div>
					<img src="interest/research.svg" width="100%"  onerror="this.onerror=null; this.src='image.png'">
				</div>

				<p>We create novel products and interactive experiences. From interactive installations to responsive obects in the palm of your hand, we use design and technology to innovate at all scales. From design to implementation, we help you realize visionary design.</p>
			</div>
			<div id="topicsDesc">
				<div>
					<img src="interest/design.svg" width="100%" onerror="this.onerror=null; this.src='image.png'">      
				</div>

				<p>Our practice is built on the pursuit of innovation through continuous research in design and computation and their role in enriching human experience. Our ambition to create empathetic design strives to blur the line between human and object.</p>
			</div>
		</div>
	</div>

	<div id="footer">Email: bmc4c@virginia.edu</div>

</body>
</html>