/*************************
GENERAL
**************************/

.wrap{
	width: 90%;
	max-width: 1100px; /** max div width above 1100px wide*/
	margin: 0 auto;/*centers content*/
}


/*************************
Nav Mobile
***************************/
.title-bar{
	background-color: #222;
	height: 60px;
}
.title-bar ul > li > a{
	margin-top: none;
	display: inline-block;
	line-height: 60px;
}

.title-bar ul > li > a:hover{
  height: 60px;
  padding-top: 0;
  background-color: rgba(255,255,255,0.1);
}

.title-bar-left{
	width: 100%;
}

.top-bar-section .has-dropdown > a:after {
    border-top-style: none;
}

.is-accordion-submenu-parent > a::after{
	border-style:none;
}


/*************************
Nav Desktop
***************************/
.nav-desktop{
	background-color: transparent;
	height: 80px;
	padding: 0;
}

.site-logo{
	color: rgb(150,150,150);
	line-height: 80px;
}

.nav-desktop .menu-desktop{
	line-height: 80px;
	background-color: transparent;
}

.menu > li > a{
	display: inline-block;
	line-height: 80px;
	padding-top: 0;
	padding-bottom: 0;
	color: rgba(255,255,255,0.9);
}

.menu > li > a:hover{
	background-color: rgba(255,255,255,0.2);

}

/*************************
HERO
***************************/
.hero{
	padding: 80px 0px;
	height: 100%;
	background-color: #40404;
	/*background-image: url('../img/hexabump.png');*/
}

.hero p,
.hero h1{
	color: rgba(255,255,255,0.9);
	width: 70%;
}


/*************************
MAIN
***************************/
.interest{
	padding: 80px 0px;
	background-color: #404041;
}

.interest p{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 125%;
   margin: 0 auto;
   color: rgb(200,200,200);
   line-height: 125%;
}

.interest img{
	text-align: left;
}

.interest .column{
	  padding-left: 0.9375rem;
      padding-right: 0.9375rem;
}

/*************************
Footer
***************************/

footer{
	background-color: #222;
	padding: 80px 0px;
	font-size: 12px;
}

footer h4{
	padding-top: 15px;
	color: rgba(255,255,255,0.9);
	font-size: 1.3em;
}

footer hr{
	border-color: rgba(255,255,255,0.1);
	margin: 10px 0;
}

footer a{
	display: block;
	color: rgba(255,255,255,0.8);
	font-size: 1.5em;
}

footer a span{
	font-weight: bold;
	color: rgba(255,255,255,0.3);
}

footer a:hover{
	color: rgba(255,255,255,0.8);
}



/*************************
MEDIA QUERY
***************************/

@media(max-width: 639px){
	.nav-desktop{
		display:none;
	}

	.interest p{
		padding-bottom: 75px;
	}

	.hero{
		height: 100%;
	}
}

@media(max-width: 639px){

}

@media(max-width: 845px){
	.hero h1,
	.hero p{
		width: 100%;
	}
}



