html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}

#title{
	height: 100%;
	text-align: center;
	background-color: #404041;
}

#second{
	height: 100%;
	text-align: center;

}

#second image{
	position: absolute;
}


#topicsDesc{
	width: 350px;
	height: 50%;
	display: inline-block;
	padding: 35px;
	vertical-align:top;
	color:blue;
	text-align: justify;
	text-align-last: left;


}

#topics{
	height: 100%;
	text-align: center;
	background-color: #404041;
    position: relative;
}

#topicsTitle{
	width: 350px;
	height: 150px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 100px;
}


#topicsDesc p{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: x-large;
   color: #999999;
   margin-top: 50px;
   white-space: normal;

}

#footer{ 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: x-large;
  width: 100%;
  height: 80%;
  text-align: center;
  margin-top: 20%;
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@-ms-viewport{
  width: device-width;
}